{% extends "cnn/base_site.html" %}
{% block content %}

<div class="mt-5 text-center">
  <h1 class="display-5">ディープラーニングデモ</h1>
  <br/>

  <p class="lead">識別データをアップロードし、OKを押してください</p>
  <form action="{% url 'nn:upload' %}" method="POST" enctype="multipart/form-data">
    <table align="center" border="1">
      <tr>
        <td>識別データ[JSON]</td>
        <td rowspan="2"><input type="submit" class="btn btn-lg btn-secondary" value="識別"></td>
      </tr>
      <tr>
        <td><input type="file" name="check_file" multiple></td>
      </tr>
    </table>
    {% csrf_token %}
  </form>
  <br />
  <br />
  <p class="lead">学習データと教師データをアップロードし、OKを押してください</p>
  <form action="{% url 'nn:learn' %}" method="POST" enctype="multipart/form-data">
    <table align="center" border="1">
      <tr>
        <td>学習データ[JSON]</td>
        <td rowspan="2"><input type="submit" class="btn btn-lg btn-secondary" value="学習"></td>
      </tr>
      <tr>
        <td><input type="file" name="learn_file" multiple></td>
      </tr>
    </table>
    {% csrf_token %}
  </form>
</div>
{% endblock %}
